# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
fastapi[all]==0.89.0
uvicorn[standard]==0.20.0
gunicorn==20.1.0
numpy
pandas
openpyxl
xlrd3
scikit-learn
scikit-image
fuzzywuzzy
python-Levenshtein
statsmodels
opencv-python
Pillow
deskew
pytesseract
keras-ocr
easyocr
paddleocr
paddlepaddle
ocrmypdf
camelot-py
tabula-py
tabulate
pypdf
PyMuPDF
pdfplumber
pdf2image
pdf2docx
poppler-utils
fpdf2
pikepdf
psutil
Django
django-cors-headers
djangorestframework
djangorestframework-jsonapi
django-filter
django-debug-toolbar
drf-yasg2
whitenoise
waitress
tornado
celery
Flask
flask-ligand
torch
torchvision
torchaudio
tensorboard
tensorflow==2.10.0
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-hub
tqdm